@import 'libs/twigkit-semantic.gs-1.2/stylesheets/less/grid.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;

html{
	font-family: 'DroidSansRegular', sans-serif;
}

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	#sidebar{
		.column(3);
	}
	
	#nav-top, #content
	{
		.column(7);
	}

	body {
		background: #FFFFFF;	
		margin-top: 20px;
		margin-bottom: 30px;	
	}
	
	h1 {
		margin-bottom: 10px;
		font-size: 38px;
		margin-top: 0px;
	}
	
	h2 {
		margin-top: 10px;
	}
	
	#sidebar {
		position: relative;
	}
	
	#sidebar p {
		margin-bottom: 8px;	
	}
	
	#sidebar .colorbackground {
		height: 32px;
		width: 145px;
		position: absolute;
	    top: 62px;
	    left: 50%;
	    margin: 0;
	    margin-left: -72px;
	    z-index: -1;
	    
	}
	
	#nav-top {
		margin-top: 70px;	
		margin-bottom: 20px;
	    font-size: 18px;
	}
		
	#nav-top a {
		text-transform: uppercase;	
		margin-right: 20px;
    	font-family: 'DroidSansBold', sans-serif;
	}
	
	#nav-top li {
		display: inline;
	}
	
	#nav-top li.active a {
		border-bottom: 1px solid grey; 
		color: black;
	}

	#nav-top li.active a:hover {
		border-bottom: 1px solid #277DAC; 
	}
    
    #sidebar{
    	text-align: center;
	}
	
	#sidebar div{
    	margin-top: 15px;
    	text-transform: uppercase;
	}
	
	a {
		text-decoration: underline;
		color:black;
	}
	
	a:visited {
		color:grey;
	}
	
	a:hover {
		color:#277DAC;
	}
	
	p.image-description {	
		border-top: 1px solid grey;
		margin-top: 15px;
	}
	
	span.image-description-company {
		font-family: 'DroidSansBold', sans-serif;
	}
	
	#introtext {
    	font-size: 38px;
		font-family: 'DroidSansBold', sans-serif;
    	line-height: 45px;
    	margin-top: 50px;
    	text-align: justify;
    	width: 670px;
	}
	
	#intro-img {
		margin-bottom: 0;
   		padding-bottom: 20px;
   		border-bottom: 1px solid grey;	
	}
	
	span.colortext {
		color: #277DAC;
	}

	/* ============================= */
	/* Vita  */
	/* ============================= */
	
	span.job-title {
		font-family: 'DroidSansBold', sans-serif;	
	}
	
	p.job-description {
		margin-bottom: 1em;
		margin-top: 0;
		margin-left: 1.5em;
	}
	
	
	/* ============================= */
	/* Forms  */
	/* ============================= */
	
	input[type=text], textarea, select{
		width: 70%;
		padding: 0.5em;	
	}
	input:focus, textarea:focus, select:focus{
		border: 1px solid #666666;		
	}
	input, textarea, select{
		border: 1px solid #BBBBBB;
		padding: 0.5em;	
	}
	
	dl.zend_form dd{
		margin: 0 0 1em 0;
	}
	
		
	/* ============================= */
	/* Contact Form  */
	/* ============================= */
	#submit-label{
		display: none;
	}
		
	/* ============================= */
	/* Slideshow  */
	/* ============================= */
	
	div.orbit-wrapper {
		margin-bottom:10px;
	}
	
 	div.orbit-wrapper div.slider-nav span {
		height: 46px;
		width: 40px;
        margin-top: -23px;		
	}
	
	div.orbit-wrapper div.slider-nav span.left {
	    background: url(/images/slideshow/left-arrow.png);
    }
    
    div.orbit-wrapper div.slider-nav span.right {
	    background: url(/images/slideshow/right-arrow.png);
    }

	
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}