AddDefaultCharset UTF-8

# JavaScript
#   Normalize to standard type (it's sniffed in IE anyways)
#   tools.ietf.org/html/rfc4329#section-7.2
AddType application/javascript         js

# Audio
AddType audio/ogg                      oga ogg
AddType audio/mp4                      m4a

# Video
AddType video/ogg                      ogv
AddType video/mp4                      mp4 m4v
AddType video/webm                     webm

# SVG
#   Required for svg webfonts on iPad
#   twitter.com/FontSquirrel/status/14855840545
AddType     image/svg+xml              svg svgz
AddEncoding gzip                       svgz

# Assorted types
AddType image/x-icon                   ico
AddType text/x-vcard                   vcf
AddType text/cache-manifest            appcache manifest

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    RewriteRule ^favicon.ico$ images/favicon.ico [QSA,L]

    RewriteRule ^apple-touch-icon.png$ images/apple-touch-icon.png [QSA,L]
    RewriteRule ^apple-touch-icon-precomposed.png$ images/apple-touch-icon-precomposed.png [QSA,L]
    RewriteRule ^apple-touch-icon-precomposed-72x72.png$ images/apple-touch-icon-precomposed-72x72.png [QSA,L]
    RewriteRule ^apple-touch-icon-precomposed-57x57.png$ images/apple-touch-icon-precomposed-57x57.png [QSA,L]
    RewriteRule ^apple-touch-icon-precomposed-114x114.png$ images/apple-touch-icon-precomposed-114x114.png [QSA,L]

    RewriteRule ^apple-touch-startup-image.png$ images/apple-touch-startup-image.png [QSA,L]
    RewriteRule ^apple-touch-startup-image-748x1024.png$ images/apple-touch-startup-image-748x1024.png [QSA,L]
    RewriteRule ^apple-touch-startup-image-768x1004.png$ images/apple-touch-startup-image-768x1004.png [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /index.php [L,NC,QSA]
</IfModule>

